body {
    font-family: Arial;
    background: #0f172a;
    color: #e5e7eb;
    padding: 40px;
}

textarea {
    width: 100%;
    height: 120px;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}

pre {
    background: #020617;
    padding: 15px;
    margin-top: 20px;
}
